# Ignore all JSON files (like Google credentials)
*.json

# But keep this one if needed
!you_articles.json

# Python bytecode
__pycache__/
*.py[cod]

# macOS files
.DS_Store

# Environment variables
.env
